<div class="row">
    <div *ngIf="!builds || !builds.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-empty-grid message="Nenhum Build"></app-empty-grid>
    </div>
    <div *ngIf="builds && builds.length" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <!-- <th>Cliente</th> -->
                    <th>Modalidade</th>
                    <th>Versão</th>
                    <th>Status</th>
                    <th>Tag</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Jenkins</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let build of builds; let i = index;"
                    class="text-left">
                    <td>{{build.idControleAtualizacao}}</td>
                    <!-- <td>{{build.dsCliente}}</td> -->
                    <td>{{build.dsModalidade}}</td>
                    <td>{{build.dsTipoAtualizacao}}</td>
                    <td style="font-weight: bold"
                        [ngClass]="{'text-danger': (build.dsMerge == 'Conflito'), 'text-success': (build.dsMerge == 'Merge'), 'text-muted': (build.dsMerge == 'Resolvido')}">
                        <i class="fa"
                            [ngClass]="{'fa-support': (build.dsMerge == 'Conflito'), 'fa-check': (build.dsMerge == 'Resolvido'), 'fa-check': (build.dsMerge == 'Merge') }"></i>
                        {{build.dsMerge}}
                    </td>
                    <td>{{build.dsNomeTag}}</td>
                    <td>{{build.dtInicioAtualizacao}}</td>
                    <td>{{build.dtFimAtualizacao}}</td>
                    <td style="font-weight: bold" class="text-{{build.dtFimAtualizacao ? 'success' : 'danger'}}">
                        <i class="fa fa-{{build.dtFimAtualizacao ? 'check' : 'times'}}"></i>
                        {{build.dtFimAtualizacao ? 'Rodou' : 'Pendente'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
