<app-cabecalho></app-cabecalho>

<section class="bread wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>
                        <a routerLink="/inicio" routerLinkActive="active">Home</a>
                    </li>
                    <li>Produtos</li>
                </ul>
            </div>
            <div class="col-sm-6 txt-right hidden-xs">
                <h5>SM Soluções para Gestão da Informação LTDA</h5>
            </div>
        </div>
    </div>
</section>

<section class="siapec-one wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <h3>Sistema de integração agropecuária </h3>
                <h2>Siapec 3</h2>
                <p>Sistema de Integração Agropecuária - é uma solução sistêmica desenvolvida para atender as demandas de gestão
                    das atividades da Defesa e Inspeção Agropecuária, atuando nas Unidades Estaduais, responsáveis pela execução
                    do Serviço Oficial de Defesa e Inspeção Agropecuária e servindo de ponte entre estas Entidades e os diversos
                    segmentos do Agronegócio com ênfase nas áreas animal e vegetal.</p>
                <p>Todas as informações produzidas em seu Banco de Dados estão totalmente integradas à Plataforma de Gestão
                    Agropecuária (PGA) do Ministério da Agricultura, Pecuária e Abastecimento (MAPA).</p>
                <a href="javascript:void(0);" onclick="$('html,body').animate({scrollTop: $('.siapec-three').offset().top - 100}, 600);"
                    title="Processo Informatizado Descentralizado">
                    <!-- <div class="btn-normal btn-border col-sm-8 col-sm-offset-2 col-md-6  col-md-offset-0">Processo Informatizado Descentralizado</div> -->
                </a>
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
                <div class="notebook">
                    <img src="assets/img/notebook2.png" alt="Notebook com Siapec 3" class="notebook img-mobile-correct">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="siapec-two wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Conheça o nosso sistema</h2>
                <h3>SIAPEC</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-nine.png" alt="Cadastros Básicos" class="icon">
                <h4>Cadastros Básicos</h4>
                <p>Cadastramento de perfis e usuários com controle de acesso funcional, cadastramento de quadro de avisos digital
                    com controle de leitura por usuário...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-one.png" alt="Defesa Animal" class="icon">
                <h4>Defesa Animal</h4>
                <p>Controle de explorações pecuárias e rebanhos por espécie e faixa etária, doenças, trânsito de animais...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-two.png" alt="Defesa Vegetal" class="icon">
                <h4>Defesa Vegetal</h4>
                <p>Cadastramento de produtores, propriedades e unidades produtivas por cultura e variedade, emissão de CFO,
                    CFOC, PTV e GTV...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-three.png" alt="Inspeção" class="icon">
                <h4>Inspeção</h4>
                <p>Cadasto de produtos de origem ANIMAL e VEGETAL, de estabelecimentos, de registros de estabelecimentos, registros
                    de produtos, documentos, supervisões...</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-seven.png" alt="Fiscalização" class="icon">
                <h4>Fiscalização</h4>
                <p>Registro da fiscalização nos postos fixos e móveis por posto fiscal para espécies de animais (animal vivo),
                    produtos e subprodutos de origem animal... </p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-ten.png" alt="Georeferenciamento" class="icon">
                <h4>Georeferenciamento</h4>
                <p>Mapeamento das propriedades rurais, dos eventos agropecuários por município, espécie e/ou tipo de evento,
                    das unidades administrativas, das unidades produtivas por município...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-four.png" alt="Portal de Serviços Público" class="icon">
                <h4>Portal de Serviços Público</h4>
                <p>Acesso via WEB ou Mobile nas versões Android e IOS, pré-cadastros, consultas de e-GTA, estabelecimentos de
                    inspeção vegetal, estabelecimentos de inspeção animal...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-six.png" alt="PGA" class="icon">
                <h4>PGA</h4>
                <p>Abrangência funcional em inclusão/alteração e consulta de todas as entidades...</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-five.png" alt="Integração entre os estados" class="icon">
                <h4>Integração entre os estados</h4>
                <p>Abrangência funcional em consultas de produtores por CPF, consultas de explorações pecuárias CPF...</p>
            </div>          
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-eight.png" alt="Arrecadação" class="icon">
                <h4>Arrecadação</h4>
                <p>Cadastramento de taxas de poder de polícia e serviços em geral, geração de documentos de arrecadação do órgão
                    de defesa agropecuária estadual...</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-exames.png" style="width: 60px; height: 60px;" alt="Integração entre os estados" class="icon">
                <h4>Atestados e exames</h4>
                <p>Controle de exames de Brucelose, Tuberculose, AIE e Mormo. Emissão de atestados de Influenza Equina e Mormo</p>
            </div>
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-vacinacao-brucelose.png" style="width: 60px; height: 60px;" alt="Vacinação Brucelose" class="icon">
                <h4>Vacinação Brucelose</h4>
                <p>Apuração de vacinação com controle de estoque das doses de vacinas nas revendedoras.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-agrotoxico.png" style="width: 60px; height: 60px;" alt="Integração entre os estados" class="icon">
                <h4>Agrotóxicos</h4>
                <p>Requerimentos e Registros de Agrotóxicos, Fabricantes, Estações Experimentais, Revendedores, Aplicadores/Armazenadores, Centrais de Embalagens Vazias, Emissão de Receita Agronômica, Controle do Comércio de Agrotóxicos, Controle de Retorno de Embalagens, Fiscalizações...</p>
            </div>

            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-autos-termos.png" style="width: 60px; height: 60px;" alt="Arrecadação" class="icon">
                <h4>Autos e Termos</h4>
                <p>Controle da Distribuição de Formulários, emissão de Autos e Termos para diversas áreas da Defesa e Inspeção, classificação das infrações, criação de processos...</p>
            </div>

            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-planejamento.png" style="width: 60px; height: 60px;" alt="Integração entre os estados" class="icon">
                <h4>Planejamento</h4>
                <p>Cadastro da estrutura de governo, controle de orçamento, gerenciamento de processos, elaboração de planos estratégicos e cronogramas, gerenciamento da execução dos cronogramas...</p>
            </div>

            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-mobile.png" style="width: 60px; height: 60px;" alt="Vacinação Brucelose" class="icon">
                <h4>Mobile</h4>
                <p>Cadastro de propriedades e explorações, emissão de GTA, PTV, GTV, CFO, CFOC,  carga no pré-pago, declaração de vacinação, nascimento, mortalidade, confirmação de chegada de animais, registro de GTA de outros Estados...</p>
            </div>            
        </div>

        <div class="row">
            <div class="col-sm-3 txt-center">
                <img src="assets/img/icon-nf.png" style="width: 60px; height: 60px;" alt="Integração entre os estados" class="icon">
                <h4>Emissão da Nota Fiscal Avulsa</h4>
                <p>Emissão da Nota Fiscal Avulsa Eletrônica vinculada com a GTA e PTV através da integração com a SEFAZ...</p>
            </div>
        </div> 
    </div>
</section>

<section class="siapec-three wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Processo Informatizado</h2>
                <h3>Descentralizado</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="assets/img/rede.png" alt="Services" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<app-onde-estamos></app-onde-estamos>
<app-rodape></app-rodape>
