.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
table, .table {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
