
<app-cabecalho></app-cabecalho>

  <app-banner></app-banner>
    <section class="about-home wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                    <h2 class="wow fadeInLeft" data-wow-delay=".2s">SISTEMA</h2>
                    <h3 class="wow fadeInLeft" data-wow-delay=".3s">conheça o SIAPEC3</h3>
                    <p class="wow fadeInLeft" data-wow-delay=".4s">Sistema de Integração Agropecuária - é uma solução sistêmica desenvolvida para atender as demandas de gestão das atividades da Defesa e Inspeção Agropecuária, atuando nas Unidades Estaduais, responsáveis pela execução do Serviço Oficial de Defesa e Inspeção Agropecuária e servindo de ponte entre estas Entidades e os diversos segmentos do Agronegócio com ênfase nas áreas animal e vegetal.</p>
                    <ul class="wow fadeInLeft" data-wow-delay=".5s">
                        <li> <i class="fa fa-check-circle-o"></i> Acesso via WEB ou via smartphone nas versões Android e IOS;</li>
                        <li> <i class="fa fa-check-circle-o"></i> Disponível no site do Órgão de Defesa e Inspeção Agropecuária do Estado;</li>
                        <li> <i class="fa fa-check-circle-o"></i> Moderno e usual com as ferramentas pensadas para os usuários.</li>
                    </ul>
                    <a routerLink="/produtos" routerLinkActive="active">
                        <div class="btn-normal btn-border col-sm-8 col-sm-offset-2 col-md-6  col-md-offset-0 wow fadeInLeft" data-wow-delay=".6s">SAIBA MAIS SOBRE O SIAPEC3</div>
                    </a>
                </div>
                <div class="col-md-6 hidden-sm hidden-xs wow fadeInRight">
                    <div class="notebook">
                        <img src="assets/img/notebook.png" alt="Notebook com Siapec 3" class="img-mobile-correct">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products-home ">
        <div class="container-fluid">
            <!-- <div data-cycle-pause-on-hover= "true"
                 class= "cycle-slideshow"
                 data-cycle-fx= "fade"
                 data-cycle-timeout= "8000"
                 data-cycle-slides= "> .display-element"
                 data-cycle-swipe="true" > -->


                <div class="display-element">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-1">
                            <h2>Disponível em seu smartphone Android e IOS</h2>
                            <h3>Aplicativo</h3>
                            <p>Agora você pode fazer o donwload do aplicativo do SIAPEC3 em seu smartphone. Os portais de SERVIÇOS e CORPORATIVO estão disponíveis para acesso via WEB ou via smartphone nas versões Android e IOS</p>
                            <br>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <a href="https://play.google.com/store" title="Google Play" target="_blank">
                                        <img src="assets/img/play.png" alt="Google Play" class="img-responsive">
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <a href="https://itunes.apple.com/br/app/apple-store/id375380948?mt=8" title="Google Play" target="_blank">
                                        <img src="assets/img/itunes.png" alt="iTunes" class="img-responsive">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-4 col-lg-offset-1 hidden-xs">
                            <img src="assets/img/tablet-phone.png" alt="Tablet com iamgens do Siapec 3">
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <section class="depositions wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>confira os depoimentos dos <span>nossos clientes</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tab-content wow fadeIn" data-wow-delay=".4s" id="tabs-collapse">
                                <div role="tabpanel" class="tab-pane fade in active" id="one-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">O Rio de Janeiro, durante bastante tempo, buscou uma solução para atender às necessidades de gestão da Defesa Agropecuária que unisse o histórico dos controles realizados pelo serviço oficial e a modernidade dos sistemas on-line. A SM Soluções apresentou-se como a melhor alternativa para a implantação de uma tecnologia capaz de cumprir os requisitos legais dos programas sanitários nacionais e de manter-se em evolução constante, em atendimento às especificidades do estado.</p>
                                        <p class="name">Paulo Henrique Moraes </p>
                                        <p class="service">Superintendente de Defesa Agropecuária (SDA/SEAPEC-RJ)</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="two-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">O SIAPEC é o sistema utilizado pelo Estado de Sergipe e vem satisfazendo plenamente ao que propôs à defesa, proporcionando agilidade e transparência além de disponibilizar ao produtor benefícios e comodidade, visto que, hoje o pecuarista tem acesso ao seu cadastro e pode emitir a própria e-GTA sem sair de sua propriedade. Sem dúvida alguma o SIAPEC é uma excelente ferramenta para a defesa Agropecuária do Estado de Sergipe.</p>
                                        <p class="name">Salete Dezen</p>
                                        <p class="service">Diretora de Defesa Animal e Vegetal (EMDAGRO/SE)</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="three-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">O Siapec (Sistema de Integração Agropecuária) foi o primeiro sistema de gerenciamento de trânsito de animais seus produtos e sub produtos e de emissão de guia de trânsito animal, operado por um dos órgãos estaduais de defesa agropecuária a estar integrado com a Plataforma de Gestão da agropecuária (PGA). Projeto esse desenvolvido pela Confederação da Agricultura e Pecuária do Brasil (CNA) em parceria com o Ministério da Agricultura Pecuária e Abastecimento (MAPA). Da mesma forma, está integrado com a Base de dados do "CNA Card O Cartão do Produtor ", com o objetivo de facilitar a solicitação,o pagamento e a impressão das Guias de Transito Animal (GTA).</p>
                                        <p class="name">Décio Coutinho </p>
                                        <p class="service">Coordenador Técnico - PGA</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="four-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">A implantação do SIAPEC no Estado do Espírito Santo foi o primeiro passo para intensificar o controle da movimentação do rebanho e a eficácia na vigilância epidemiológica. É importante registrar que o SIAPEC trouxe benefícios ao Sistema de Atenção Veterinária, pois as informações passaram a ser geradas com maior agilidade e eficiência e consolidadas em um sistema único, garantindo maior confiabilidade dos dados disponibilizados.</p>
                                        <p class="name">Fabiano Fiuza Rangel </p>
                                        <p class="service"> Chefe do Departamento de Defesa Sanitária e Inspeção Animal (IDAF/DDSIA-ES)</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="five-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">A utilização do Sistema de Integração Agropecuária - SIAPEC, fez com que a Agência de Defesa e Fiscalização Agropecuária de Pernambuco - ADAGRO conseguisse ter melhor eficiência e eficácia na gestão das informações agropecuárias do Estado de Pernambuco.</p>
                                        <p class="name">Erivânia Camelo de Almeida</p>
                                        <p class="service">Diretora Geral (ADAGRO/PE)</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="six-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">Ao trabalhar nesses 15 anos como técnico de suporte e desenvolvimento na SEAPEC-RJ, sempre verifiquei a necessidade de possuirmos uma tecnologia de ponta que viesse destacar o Estado do Rio de Janeiro com sua importância econômica e social. A Defesa Agropecuária exerce esse papel importante para a sociedade. Com o desenvolvimento do SIAPEC encontramos essa ferramenta de gestão, que veio permitir um importante passo para o setor.</p>
                                        <p class="name">Seigner Afonso da Silva</p>
                                        <p class="service">Economista e Técnico de Suporte e Desenvolvimento. (RJ)</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="seven-tab">
                                    <div class="tab-inner">
                                        <span class="quote"><i class="fa fa-quote-left"></i></span>
                                        <p class="lead">Na qualidade de gestor do projeto Plataforma de Gestão Agropecuária (PGA) no Ministério da Agricultura, Pecuária e Abastecimento (MAPA) gostaria de agradecer à equipe de desenvolvimento do sistema SIAPEC pelo trabalho realizado juntamente com a nossa equipe. Graças ao esforço de todos temos hoje os Estados: BA,SE,PE,PB,RN,ES,RJ,PA integrados com a Base de Dados Única (BDU) e as atualizações sendo feitas diariamente. Certamente este é um grande passo que permitirá a integração entre todas as bases e essa ferramenta propiciará uma Defesa Agropecuária mais eficiente no Brasil.</p>
                                        <p class="name">José Luis Ravagnani Vargas</p>
                                        <p class="service">Diretor de Programas Secretaria de Defesa Agropecuária</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                                <li class="wow flipInY" data-wow-delay=".4s" role="presentation" class="active">
                                    <a href="#one-tab" aria-controls="one-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/paulo.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay=".5s" role="presentation">
                                    <a href="#two-tab" aria-controls="two-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/salete.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay=".6s"  role="presentation">
                                    <a href="#three-tab" aria-controls="three-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/decio.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay=".7s"  role="presentation">
                                    <a href="#four-tab" aria-controls="four-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/fabiano.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay=".8s"  role="presentation">
                                    <a href="#five-tab" aria-controls="five-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/erivania.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay=".9s"  role="presentation">
                                    <a href="#six-tab" aria-controls="six-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/seigner.png" />
                                    </a>
                                </li>
                                <li class="wow flipInY" data-wow-delay="1s"  role="presentation">
                                    <a href="#seven-tab" aria-controls="six-tab" role="tab" data-toggle="tab">
                                        <img class="img-circle" src="assets/img/jose.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="notices-home wow fadeIn">
      <div class="container">
           <div *ngFor="let item of noticias; let i=index">
               <app-noticias-miniatura *ngIf="i < 3" [noticia]="item"></app-noticias-miniatura>
           </div>
       </div>
   </section>


<app-onde-estamos></app-onde-estamos>
<app-rodape></app-rodape>
