<div class="top-bar wow fadeInDown">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li class="phone hidden-xs">
            <a href="tel:07932437929 " title="(79) 3243-7929">
              <div class="icon"></div>
              <span>(79) 3243-7929</span>
            </a>
          </li>
          <li class="mail hidden-xs">
            <a href="mailto:contato@smsgi.com.br" title="contato@smsgi.com.br">
              <div class="icon"></div>
              <span>contato@smsgi.com.br</span>
            </a>
          </li>
          <li class="user">
            <a href="/gsm/index.html" title="Acessar gsm">
              <div class="icon"></div>
              <span>Suporte HelpDesk</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer-line wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-8 hidden-xs hidden-sm">
        <ul>
          <li class="home">
              <a routerLink="/quemsomos" routerLinkActive="active">A SM</a>
          </li>
          <li>
              <a routerLink="/produtos" routerLinkActive="active">Produtos e Serviços</a>
          </li>
          <li>
              <a routerLink="/casosdesucesso" routerLinkActive="active">Cases de sucesso</a>
          </li>
          <li class="active-modal">
            <a href="" title="Faça parte da sm" data-toggle="modal" data-target="#equip">Trabalhe conosco</a>
          </li>
          <li>
            <a routerLink="/noticias" routerLinkActive="active">Notícias</a>
          </li>
          <li>
            <a routerLink="/contato" routerLinkActive="active">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <p>©2017 SM Soluções - Todos os direitos reservados. <a href="https://www.freepik.com/free-photos-vectors/background"> Imagens Jannoon028 - Freepik.com </a></p>
      </div>
    </div>
  </div>
</div>
