<app-cabecalho></app-cabecalho>
<section class="bread wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>
                        <a routerLink="/inicio" routerLinkActive="active">Home</a>
                    </li>
                    <li>Cases de Sucesso</li>
                </ul>
            </div>
            <div class="col-sm-6 txt-right hidden-xs">
                <h5>SM Soluções para Gestão da Informação LTDA</h5>
            </div>
        </div>
    </div>
</section>

<section class="standard about wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 txt-center">
                <h3>Integração com a PGA</h3>
                <hr>
                <br>
                <br>
                <!-- <h2>Sobre a empresa</h2> -->
            </div>
        </div>
        <div class="row" style="text-align: justify">
            <div class="col-sm-12">
                <p>
                    O SIAPEC foi o primeiro sistema de Gestão Agropecuária do país 100% integrado com a Plataforma de Gestão Agropecuária (PGA)
                    que é uma plataforma pública informatizada de integração de sistemas, com objetivo de melhorar a qualidade
                    e o acesso às informações para toda a sociedade agropecuária. Além disso, tem como objetivo uniformizar
                    e informatizar os processos de trabalho relacionados ao setor agropecuário.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="standard about wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 txt-center">
                <h3>SIAPEC3 Integrado com a SEFAZ</h3>
                <hr>
                <br>
                <br>
                <!-- <h2>Sobre a empresa</h2> -->
            </div>
        </div>
        <div class="row" style="text-align: justify">
            <div class="col-sm-12">
                <p>
                    Para garantir maior agilidade ao produtor, facilitar o processo de pagamento e diminuir a burocracia no sistema de informação
                    do Governo para recolhimento de tributos da Agência de Defesa Agropecuária. O SIAPEC3 possui uma integração
                    com as Secretarias de Fazendas (SEFAZ) de cada cliente isso facilitará, por exemplo, a emissão da Guia
                    de Transporte de Animais (GTA) e demais documentos emitidos pelo Orgão de Defesa.
                </p>
                <ol>
                    <li>
                        Esta integração permite facilitar para o produtor e realizar todo o processo sem precisar sair de casa.
                    </li>
                    <li>
                        Permite a geração de NFe integrado a SEFAZ
                    </li>
                    <li>
                        A confirmação do pagamento do serviço poderá ocorrer em apenas 15 minutos
                    </li>
                    <li>
                        Lista dos documentos de arrecadação de cada estado que são emitidos pela SEFAZ
                    </li>
                    <li>
                        <ul>
                            <li>Bahia: Documento de Arrecadação Estadual (DAE)</li>
                            <li>Espírito Santo: Documento Único de Arrecadação (DUA)</li>
                            <li>Maranhão: Documento de Arrecadação de Receitas Estaduais (DARE)</li>
                            <li>Pará: Documento de Arrecadação Estadual (DAE)</li>
                            <li>Piauí: Documento de Arrecadação de Receita (DAR)</li>
                            <li>Rio de Janeiro: Guia de Recolhimento do Estado (GRE)</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<app-onde-estamos></app-onde-estamos>
<app-rodape></app-rodape>
