<app-cabecalho></app-cabecalho>

<section class="bread wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li>
                        <a routerLink="/inicio" routerLinkActive="active">Home</a>
                    </li>
                    <li>Quem somos</li>
                </ul>
            </div>
            <div class="col-sm-6 txt-right hidden-xs">
                <h5>SM Soluções para Gestão da Informação LTDA</h5>
            </div>
        </div>
    </div>
</section>

<section class="standard about wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 txt-center">
                <!-- <hr> -->
                <!-- <br>
                <br> -->
                <!-- <h2>Sobre a empresa</h2> -->
            </div>
        </div>
        <div class="col-sm-6">
            <img src="assets/img/logo_sm.png" alt="" class="img-responsive">
        </div>
        
        <div class="col-sm-6" style="padding-top: 15%;">
                <h1>Sobre a empresa</h1>
                <div id="texto">
                <p style="color: #000000;">
                    A SM Soluções para Gestão da Informação LTDA, é uma empresa especializada no desenvolvimento de soluções de tecnologia da informação para gestão da defesa agropecuária. Possuímos mais de 20 anos de experiência na área, com a participação direta na implantação de sistemas de defesa agropecuária em 14 estados brasileiros (BA, SE, PE, RN, PB, PA, RJ, ES, PI, MA, AL, DF, MG, CE).
                </p>
                </div>
        </div>

        <div class="row">
            <div class="col-sm-12 txt-center">               
                <!-- <hr> -->
                <!-- <br>
                <br> -->
                <!-- <h2>Sobre a empresa</h2> -->
            </div>
        </div>

<br>
<br>
<br>

        <div class="col-sm-6" style="padding-top: 15%;">
                <h1>Como trabalhamos?</h1>
                <div id="texto">
                <p style="color: #000000 !important;">
                 Formada por especialistas de larga vivência nas áreas de gestão da informação, arquitetura de dados, soluções web, etc, somos especializados em desenvolvimento de soluções utilizando Softwares Livres, ou seja, totalmente gratuítos. São eles: Linux, Tomcat, Java (.jsp e .jsf), PostgreSQL, Postgis, GeoServer, WebService com CXF, Angular, etc.
                </p>
            </div>

        </div>

        <div class="col-sm-6">
            <img src="assets/img/tecnologias_utilizadas.png" alt="" class="img-responsive">
        </div>

        <!-- <div class="row">
            <div class="col-sm-12">
                <h4>Tecnologias utilizadas pela sm</h4>
                <img src="assets/img/tecnologias7.png" alt="Tecnologias" class="img-responsive auto">
            </div>
        </div> -->
    </div>
</section>

<app-onde-estamos></app-onde-estamos>
<app-rodape></app-rodape>
