<div class="slide wow fadeIn">
  <div data-cycle-pause-on-hover= "false"
       class= "cycle-slideshow"
       data-cycle-fx= "fade"
       data-cycle-timeout= "500000"
       data-cycle-slides= "> .display-element"
       data-cycle-swipe="false"
       data-cycle-carousel-offset="0"
       data-cycle-swipe-fx="scrollHorz"
       data-cycle-pager= "> .display-pager" >
      <div class="display-pager"></div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
      <div class="display-element">
          <div class="text">
              <!-- <h2>SISTEMA DE INTEGRAÇÃO AGROPECUÁRIA </h2>
              <h3>SoluçÕes para gestão da informação</h3>
              <hr> -->
          </div>
          <div class="slide-imagem visible-lg visible-md" style="background: url('assets/img/banners/banner-novo-site-siapec3-desktop.jpg') no-repeat center;"></div>
          <div class="slide-imagem visible-sm" style="background: url('assets/img/banners/banner-novo-site-siapec3-mobile.png') no-repeat center;"></div>
          <div class="slide-imagem visible-xs" style="background: url('assets/img/banners/banner-novo-site-siapec3-tablet.png') no-repeat center;"></div>
      </div>
  </div>
</div>
<section class="action wow fadeIn">
  <div class="container">
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <a routerLink="/produtos" routerLinkActive="active">
                  <div class="btn-normal btn-red">Saiba mais sobre o SIAPEC3</div>
                  <span>Clique e conheça a melhor solução do mercado</span>
              </a>
          </div>
      </div>
  </div>
</section>

<script type="text/javascript">
  new WOW().init();
</script>
