<div class="row">
    <div *ngIf="listStatus && listStatus.length"
        style="display: block;"
        class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <canvas baseChart
            [datasets]="dataStatus"
            [labels]="labelsStatus"
            [options]="barChartOptions"
            legend="true"
            chartType="bar"
            colors="#777">
        </canvas>
    </div>
    <div *ngIf="listCliente && listCliente.length"
        style="display: block;"
        class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <canvas baseChart
            [datasets]="dataEstado"
            [labels]="labelsEstado"
            [options]="barChartOptions"
            legend="true"
            chartType="bar"
            colors="#777">
        </canvas>
    </div>
    <div *ngIf="listProduto && listProduto.length"
        style="display: block;"
        class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <canvas baseChart
            [datasets]="dataProduto"
            [labels]="labelsProduto"
            [options]="barChartOptions"
            legend="true"
            chartType="bar"
            colors="#777">
        </canvas>
    </div>
    <div *ngIf="listFuncionalidade && listFuncionalidade.length"
        style="display: block;"
        class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <canvas baseChart
            [datasets]="dataFuncionalidade"
            [labels]="labelsFuncionalidade"
            [options]="barChartOptions"
            legend="true"
            chartType="bar"
            colors="#777">
        </canvas>
    </div>
</div>
