<ion-col *ngIf="largura == 12" col-12>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 11" col-11>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 10" col-10>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 9" col-9>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 8" col-8>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 7" col-7>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 6" col-6>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 5" col-5>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 4" col-4>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 3" col-3>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 2" col-2>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>
<ion-col *ngIf="largura == 1" col-1>
    <div class="titulo_grid2">{{coltitulo}}</div>
    <div class="conteudo_grid text-uppercase">{{colconteudo}}</div>
    <ng-content></ng-content>
</ion-col>