<footer class="wow fadeIn">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-6 no-padding">

          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1958.439009475331!2d-37.05471524071507!3d-10.97257881974191!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1534280076097" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
        <div class="col-md-6 col-lg-5 no-padding">
          <div class="box">
            <h3>Onde estamos</h3>
            <h4>SM Soluções para Gestão da Informação LTDA</h4>
            <div class="row">
              <div class="col-sm-6 tab">
                <div class="box">
                  <a href="tel:07932437929" title="(79) 3243 - 7929">
                    <h5> <div class="phone"></div> Telefone <span>(79) 3243 - 7929</span></h5>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 tab">
                <div class="box">
                  <a href="mailto:contato@smsgi.com.br" title="contato@smsgi.com.br">
                    <h6> <div class="mail"></div> Endereço de email <span>contato@smsgi.com.br</span></h6>
                  </a>
                </div>
              </div>
            </div>
            <p> <i class="fa fa-phone"></i> Suporte (79) 3243-7929</p>
            <p> <i class="fa fa-map-marker"></i> Rua Rosalina, 141, Bairro Farolândia. CEP: 49.032-150 - Aracaju-SE</p>
            <p> <i class="fa fa-clock-o"></i> Aberto de Segunda a Sexta de 08h as 18h</p>
          </div>
        </div>
      </div>
      <div class="back-top">
        <a href="javascript:void(0);" onclick="$('html,body').animate({scrollTop: $('header').offset().top - 120}, 600);">
          <img src="assets/img/back-top.png" alt="Voltar ao topo">
        </a>
      </div>
    </div>
  </footer>
